<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu lavado de auto</title>
    <link rel="stylesheet" href="css/la_empresa.css">
</head>
<body>
     
    <div id="contenedor">

    <div id="header"> 
      <img src="img/019-car service.png" id="logo" > 
      <div id=encabezado>  <h1> Tu lavado de auto </h1></div>
    </div>


    <div id="nav">  

   <nav>
     <ol>
      <li><a href="index.html">Inicio</a></li>
       <li><a href="registro.html">Registro</a></li>
       <li><a href="Insumos.html">Insumos</a></li>
       <li><a href="ubicacion.html">Ubicacion</a></li>
       <li><a href="galeria.html">Galeria</a></li>
       <li><a href="la_empresa.html">La empresa</a></li>
     </ol>
     </ol>
   </nav>

    </div>


    <div id="contenido">
    
      <div id="section">

       <div id="titulo">
         <h1>Tu lavado de auto</h1>
       </div>

       <div id="parrafo">
         <h1>Misión</h1>
         <p>Nuestra misión como empresa encargada de lavado de autos es 
          garantizar la seguridad de nuestros clientes que desean contar
          con nuestros servicios como tambien garantizar la confianza en
          ellos que se sientan seguros con nosotros ademas que ellos mismos
          se sientan sastifechos cada vez que quieran nuestros servicios
          tambien ofrecer la amabilidad y el respeto que merece cada persona</p>
       </div>

       <div id="parrafo2">
        <h1>Visión</h1>
         <p>Nuestra visión como empresa encargada de lavado de autos es 
          crecer contar con mas sucursales a lo largo de la ciudad de
          santiago ademas ofrecer servicios para vehículo de otro tipo
          tambien ofrecer mas servicios de lo que ofrecemos actualmente
          como pintado de autos entre otros que se puedan agregar tambien
          ser reconocidos como una empresa que garantiza la seguridad y 
          confianza a sus clientes</p>
       </div>
                 
      </div>
    
    </div>


    <div id="footer">
      <div><h1>Contacto</h1></div>
      <div><h1>Correo: tulavadodeauto@gmail.com Numero :+569 1234 5678</h1></div>

    </div>


   </div>


</body>
</html>

