<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Acceso</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border=1>
            <tr>
                <td colspan="2">Formulario de Login</td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td>
                    <input type="text" name="txtUser">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="txtPass">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="enviar">
                </td>
            </tr>
        </table>
    </form>
    <div>
        <h2>{{msg}}</h2>
    </div>
</body>

</html>