{% extends "web/base.html" %} {% load static %} {% block estilos %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}"> {% endblock estilos %} {% block contenido %}
<div id="contenido">

    <div id="section">

        <div class="registro">
            <h1>Formulario de Login</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="controls" type="text" name="txtUser" id="txtUser" placeholder="ingrese el nombre de usuario" >
                <input class="controls" type="password" name="txtPass" id="txtPass" placeholder="Ingrese una contraseña">
                <input class="botons" type="submit" value="Registrar">
            </form>

        </div>

    </div>

</div>
<div style="text-align: center;color: brown;">
    <h2>{{msg}}</h2>
</div>
{% endblock contenido %}




    